@font-face {
  font-family: Helvetica;
  src: url("font/Helvetica.ttf");
}

body {
  background-color: #fff;
  font-family: "Helvetica";
  color: #000000;
}

.top-nav {
  background-color: #f1f3ff;
  margin: 0px;
}

.navbar-brand {
  height: 34px;
  width: 100px;
  background-color: #0d28a6;
  border-radius: 0px;
  border: 0px;
}

.navbar-light {
  padding: 24px 0px 0px 0px;
  margin: 0px;
}

.navbar-light .navbar-nav {
  padding: 8px 0px 8px 0px;
}

.nav-item {
  margin: 0px !important;
}

.navbar-light .navbar-nav .nav-link {
  margin-right: 32px;
  padding: 0px;
  color: #000000;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  margin-top: 10px;
}

.btn-navbar-right {
  height: 36px;
  width: 81px;
}

.btn-login {
  background-color: #5cb85f;
  border-radius: 2px;
  font-weight: bold;
  font-size: 14px;
  color: #ffffff;
}

.btn-login a {
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
  color: #ffffff;
}

.btn-login:hover {
  background-color: #2b8a2e;
  color: #ffff;
}

header {
  margin-top: -60px !important;
  padding-top: 97px;
  background-color: #f1f3ff;
  height: 504px;
}

header h1 {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 150%;
}

header p {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 0px;
  padding-right: 90px;
}

.btn-get-started {
  width: 140px;
  height: 36px;
  background-color: #5cb85f;
  color: #ffff;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  margin-top: 16px;
  margin-bottom: 20px;
}

header .btn-get-started {
  margin-top: 16px;
  margin-bottom: 32px;
}

header .align-self-center {
  padding: 0px 0px 0px 15px;
}

section {
  margin-top: 20px;
}

section h2 {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
}

section h3 {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
}

section p {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
}

.section-services .services h2 {
  margin-bottom: 24px;
}

.section-services .services p {
  margin: 0px;
}

.section-services .services {
  margin-bottom: 18px;
}

.section-services .services-item {
  margin-bottom: 20px;
}

.section-services .services-content .description {
  margin-top: 2px;
  margin-bottom: 0px;
  margin-left: 16px;
  overflow: hidden;
  float: left;
}

.section-services .services-content .description p {
  text-align: left;
}

.section-services .services-content .ic-check {
  width: 24px;
  height: 24px;
  float: left;
}

.section-why .why-content {
  margin-top: 40px;
}

.section-why .card-why {
  border: 1px solid #d0d0d0;
  box-sizing: border-box;
  border-radius: 8px;
  padding: 24px;
  height: 196px;
}

.section-why .card-why p {
  margin: 0px;
}

.section-why .why-icon {
  width: 32px;
  height: 32px;
  margin-bottom: 16px;
}

.section-why .why-content h3 {
  margin-bottom: 16px;
}

.section-testimonial {
  margin-top: 80px;
  margin-bottom: 40px;
  margin-left: -118px !important;
  margin-right: -118px !important;
}

.section-testimonial .testimonial-heading {
  margin-bottom: 40px;
}

.section-testimonial .card-testimonial {
  padding: 69px 32px;
  width: 619px;
  height: 270px;
  background: #f1f3ff;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  margin: 0px;
}

.section-testimonial .card-testimonial .author-img {
  width: 80px;
  height: 80px;
}

.section-testimonial .card-testimonial .rate-img {
  width: 80px;
  height: 16px;
  margin-bottom: 8px;
}

.section-testimonial .card-testimonial p {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 8px;
}

.section-testimonial .card-testimonial .author {
  font-weight: bold;
  margin-bottom: 0px;
}

.section-started .card-started {
  max-width: 1168px;
  min-height: 326px;
  background: #0d28a6;
  border-radius: 13px;
  padding: 64px 0px 64px 0px;
}

.section-started .card-started h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 150%;
  color: #ffffff;
  margin-bottom: 16px;
}

.section-started .card-started p {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;

  margin-bottom: 52px;
}

.section-started .btn-get-started {
  margin: 0px;
}

.section-faq {
  margin-top: 50px;
}

.section-faq .card-faq {
  border: 1px solid #d4d4d4 !important;
  box-sizing: border-box;
  border-radius: 4px !important;

  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
}

.section-faq .faq-heading {
  background-color: transparent;
}

.section-faq .card-faq .btn-link {
  text-decoration: none;
  color: #000000;
}

.section-faq .card-faq h5 {
  word-wrap: break-word;
}

footer {
  font-family: Helvetica;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
}

.section-footer {
  margin-top: 150px;
}

footer li {
  margin-bottom: 16px;
}

footer li a {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
}

footer img {
  margin-right: 14px;
}

@media only screen and (max-width: 768px) {
  header {
    margin-top: -60px !important;
    margin-bottom: 60px;
    padding-top: 97px;
    background-color: #f1f3ff;
    height: 650px;
  }
  header .img-car {
    margin: 0px;
  }
  .section-services .service-image {
    width: 80%;
    height: auto;
    margin: 0px 20px 32px 20px;
  }

  .section-why .why-heading {
    text-align: center;
  }

  .section-testimonial .owl-carousel .author-img {
    margin-right: auto;
    margin-left: auto;
  }

  .section-testimonial .owl-carousel .rate-img {
    margin-right: auto;
    margin-left: auto;
  }

  .section-testimonial .card-testimonial {
    padding: 35px 16px;
    max-width: 328px;
    height: 372px;
    background: #f1f3ff;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    margin: 0px;
  }

  .section-started .card-started {
    padding: 64px 58px;
  }

  .section-started .card-started h1 {
    font-family: "Helvetica";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    color: #ffffff;
  }

  .section-started .card-started p {
    font-family: "Helvetica";
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    color: #ffffff;
    margin-bottom: 32px;
  }

  footer {
    margin-top: 60px !important;
  }
}

@media only screen and (max-width: 390px) {
  header .bg-car {
    width: 100%;
    height: auto;
  }
  header .img-car .car-right {
    margin-left: -375px;
    width: 100%;
    height: auto;
  }
}

@media screen and (min-width: 390px) and (max-width: 440px) {
  header .bg-car {
    width: 100%;
    height: auto;
  }
  header .img-car .car-right {
    margin-left: -420px;
    width: 100%;
    height: auto;
  }
}

@media screen and (min-width: 440px) and (max-width: 768px) {
  header .bg-car {
    width: 98%;
    height: auto;
  }
  header .img-car .car-right {
    margin-left: -480px;
    width: 100%;
    height: auto;
  }
}

@media only screen and (min-width: 768px) {
  header .bg-car {
    margin-right: -703px;
  }
  header .car-right {
    margin-right: -70px;
  }
}

/* Khusus Sidebar */
@media only screen and (max-width: 992px) {
  .sidebar {
    background: #ffffff;
    height: 100%;
    top: 0;
    right: 0;
    width: 62%;
    position: fixed !important;
    z-index: 1;
    overflow: auto;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
  }

  .sidebar .side-header {
    margin: 36px 0px 14px 16px;
  }
  .sidebar .side-header .navbrand {
    margin-right: 90px;
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
  }
  .sidebar .side-header .ic-close {
    margin-right: auto;
  }

  .sidebar .navbar .nav-item a {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
  }
  .section-testimonial .owl-carousel {
    z-index: 0;
  }
}
